<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title></title>
</head>
<body>
    <div class="cabecalho-usuario" th:fragment="cabecalho-usuario">
        <a href="">
         <img class="img-cabecalho" th:src="@{/imagens/Logo_Horizontal_PNG.png}" alt="">
        </a>
        <div class="cx-botoes-cabecalho-usuario">
            <a href="" class="botao-cabecalho-usuario">Inicio</a>
            <a href="" class="botao-cabecalho-usuario">Tempo</a>
            <a href="" class="botao-cabecalho-usuario">SMS</a>
            <a href="" class="botao-cabecalho-usuario">Denuncia</a>
            <a href="" class="botao-cabecalho-usuario">Login</a>
        </div> 
    </div>
</body>
</html>