*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a{
  text-decoration: none;
}

body{
  /* background-color: #999; */
}

/* RESET CSS ACIMA */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* CABEÇALHO USUARIO */

/* CX CABECALHO USUARIO */
.cabecalho-usuario{
  border: solid 1px red;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: center;
  width: 1920px;
  height: 125px;
  padding-left: 20PX;
  padding-right: 20px;
}

/*CX LOGO CABECALHO USUARIO*/
.cx-logo-cabecalho{
  border: solid 1px blue;
  width: 125px;
  height: 125px;
  justify-self: start;
}

/* CX LOGO CABECALHO */
.img-cabecalho{
  width: 125px;
  height: 125px;
}

/* CX BOTOES CABECALHO USUARIO */
.cx-botoes-cabecalho-usuario{
  border: solid 1px greenyellow;
  display: flex;
  align-items: center;
  justify-self: center;
  width: 1000px;
  justify-content: space-between;
}

/* ALINHAMENTO DO BOTAO LOGIN CABECALHO USUARIO */
#botao-login{
  align-self: center;
  justify-self: end;
}

/* BOTOES CABECALHO USUARIO */
.botao-cabecalho-usuario{
  border: solid 1px green;
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TXT CABECALHO USUARIO */
.txt-cabecalho-usuario{
  color: black;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* CABECALHO DO AGENTE */

/*CX CABECALHO DO AGENTE*/
.cabecalho-agente{
  border: solid 1px red;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: center;
  width: 1920px;
  height: 100px;
}

/*CX LOGO CABECALHO*/
/* REUTILIZADO A DO CABECALHO DO USUARIO */

/* CX BOTOES DO CABECALHO AGENTE */
.cx-botoes-cabecalho-agente{
  border: solid 1px red;
}