@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a{
  text-decoration: none;
}

body{
  background-color: #f4f7fa;
  font-family: "Poppins", sans-serif;
}

/* RESET CSS ACIMA */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* CABEÇALHO USUARIO */

/* CX CABECALHO USUARIO */
.cabecalho-usuario{
  /* border: solid 1px red; */
  display: grid;
  background-color: #0b2d4d;
  grid-template-columns: 1fr 1fr auto;
  justify-content: center;
  width: 1920px;
  height: 100px;
  padding-left: 50PX;
  padding-right: 100px;
}

/*LOGO CABECALHO */
.img-cabecalho{
  /* border: solid 1px blue; */
  width: 200px;
  height: 100px;
  justify-self: start;
  align-self: center;
}

/* CX BOTOES CABECALHO USUARIO */
.cx-botoes-cabecalho-usuario{
  /* border: solid 1px greenyellow; */
  display: flex;
  align-items: center;
  justify-self: center;
  width: 1000px;
  justify-content: space-between;
}/* BOTAO CABECALHO USUARIO */
.botao-cabecalho-usuario{
  /* border: solid 1px green; */
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
}.botao-cabecalho-usuario:hover{
  background-color: #f4f7fa;
  border-radius: 10px;
  color: #0b2d4d;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/*RODAPE PADRAO*/

/* CAIXA PARA O FUNDO DO RODAPE*/

#caixa-inicial-rodape {
  display: flex;
  justify-content: center;
  width: 1920px;
  height: 400px;
  /* border: solid 1px red ; */
  background-color: #0b2d4d;
}

/* CAIXA COM TODO O CONTEÚDO DO RODAPE */
#caixa-principal-rodape {
  width: 1920px;
  margin: 0px 100px 0px 100px;
  /* border: solid 1px blue; */
}

/* CAIXA COM OS ELEMENTOS SUPERIORES DO RODAPE */
.caixa-superior-rodape {
  display: flex;
  justify-content: space-between;
  margin: 50px 0px 50px 0px;
}

/* RETIRANDO OS PONTOS AO LADO DAS LISTAS*/
#lista-contato-rodape, #lista-faq-rodape{
  list-style-type: none;
}

/* CAIXA COM OS DIREITOS RESERVADOS */
#texto-inferior-rodape {
  margin: 20px 0px 0px 0px;
  text-align: center;
}

/* ESTILIZANDO O TEXTO */


/* ESTILIZANDO O TEXTO DOS SUBTÍTULOS */
.subtitulo-rodape {
  color: #ffffff;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 20px 0px;
}

/* ESTILIZANDO OS TEXTOS E LINKS */

/* ADICIONANDO OS ÍCONES AO LADO DA LISTA DE CONTATOS */
.contato-rodape {
  display: flex;
}

/* MODIFICANDO O ÍCONE */
.icone-rodape {
  color: #ffffff;
  margin: 2px 5px 0px 0px;
}

/* MODIFICAÇÃO PADRÃO PARA OS TEXTOS DO RODAPE */
.texto-rodape, .link-rodape {
  color: #faf7fa;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 5px 0px 0px 0px;
}

/* ESTILIZANDO A LOGO DO RODAPE */
.logo-sigedef-rodape {
  justify-self: center;
  background-color: #faf7fa;
  border-radius: 20px;
}

/* ALINHANDO O NOME SIGEDEF */
#nome-empresa-rodape {
  text-align: center;
}

/* EDITANDO OS LINKS DO RODAPE */
.link-rodape {
  display:block;
  text-decoration: underline;
}

/* ESTILIZANDO A TAG HR DO RODAPE */
#barra-horizontal-rodape {
  border: solid 1px #102027;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* CABECALHO DO DASHBOARD */

/* CX CABECALHO DO DASHBOARD */
.cabecalho-dashboard{
  display: grid;
  background-color: #0b2d4d;
  grid-template-columns: 1fr 1fr auto;
  justify-content: center;
  width: 1920px;
  height: 100px;
  padding: 0px 50px 0px 50px;
}

/* DIV COM O ICONE MENU E O LOGO */
.cx-logo-cabecalho-dashboard{
  /* border: solid 1px red; */
  display: flex;
  align-items: center;
}

/* LOGO CABECALHO AGENTE */
.img-cabecalho-dashboard{
  /* border: solid 1px red; */
  width: 200px;
  height: 100px;
  justify-self: start;
  margin-left: 20px;
}

/* DIV COM O ICONE E O BOTAO PERFIL */
.cx-cabecalho-perfil-dashboard{
  width: auto;
  height: 100px;
  display: flex;
  /* border: solid 1px red; */
}


/* LINHA VERTICAL CABECALHO */
.linha-cabecalho-dashboard{
  border: solid 1px #FFFFFF;
  margin-right: 15px;
  height: 40px;
  align-self: center;
}

/* BOTAO PERFIL */
.botao-cabecalho-perfil-dashboard{
  /* border: solid 1px red; */
  height: 50px;
  min-width: 120px;
  max-width: 220px;
  padding-right: 10px;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
  font-weight: bold;
}

/* ICONE */
.material-symbols-outlined {
  /* border: solid 1px red; */
  color: #FFFFFF;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 40px;
}

/* DIV BOTOES DASHBOARD */
.cx-botoes-dashboard{
  /* border: solid 1px red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 500px;
}

/* BOTOES DASHBOARD */
.botao-dashboard{
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
}.botao-dashboard:hover{
  background-color: #f4f7fa;
  border-radius: 10px;
  color: #0b2d4d;
}

